################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatePrice
/.vs/CalculatePrice
/bin
/obj
