<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InputTiersFilePath" value="C:\Users\Nikola.Ignjatovic\Downloads\BrokerTierRates.xlsx" />
		<add key="InputProductFilePath" value="C:\Users\Nikola.Ignjatovic\Downloads\2024-10-04 HAA Buy Price Adjust (1).xlsx" />
		<add key="OutputFilePath" value="C:\Users\Nikola.Ignjatovic\Documents\sample_data.xlsx" />
	</appSettings>	
</configuration>